<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="net45" />
  <package id="bootstrap.less" version="3.3.5" targetFramework="net45" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.15.35.1" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="jQWidgets_Framework" version="4.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Moment.js" version="2.9.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="Slick" version="1.5.11" targetFramework="net45" />
  <package id="SweetAlert.Base" version="1.1.3" targetFramework="net45" />
</packages>